
// COLOR LIST ******************************************************************
$colorBlack1: rgb(0,0,0);
$colorBlue1 : rgb(0,156,255);
$colorWhite1: rgb(255,255,255);
$colorGrey1 : rgb(152,152,152);
$colorDarkGrey1: rgb(51,51,51);
$colorViolet1: rgb(185,54,178);

$colorBgGrey1: rgb(230,230,230);
//******************************************************************************
