@import "common";
@import "colors";

@mixin content-style{
  width: 1400px;
  margin: 0 auto;
}

// HEADER TOP*******************************************************************
.header-top-background{
  @include background-common;
  background-color: black;
  height: 40px;
}


.header-top{
  display: flex;
  justify-content: flex-end;

  @include content-style;
  &-menu{
    @include menu-inline-ul-light-style-1;
  }

  &-menu li:hover{
    @include hover-standard-style1;
  }
}
// /HEADER TOP******************************************************************

// HEADER BOTTOM****************************************************************
.header-bottom-background{
  @include background-common;
  background-color: black;
  height: 70px;
}

.header-bottom{
  display: flex;
  justify-content: center;

  @include content-style;
  &-menu{
    @include menu-inline-ul-light-style-2;
    float: right;
  }

  &-menu li:hover{
    @include hover-standard-style1;
  }
}
// /HEADER BOTTOM***************************************************************

// JUMBOTRON****************************************************************
.jumbotron-background{
  @include background-common;
  height: 460px;
  background-size: cover;
  background-image: url('../img/hero-pe-8.jpg');
}

.jumbotron{
  @include content-style;
  height: 100%;
  display: flex;
  justify-content: center;

  &-col-left, &-col-center, &-col-right{
    width: calc(100% / 3);
    // border: 1px solid orange;
  }

  &-col-center{
    .product-name{
      font-size: 26px;
      margin-top: 50px;
      margin-bottom: 15px;

      .new{

        font-weight: bold;
        font-style: italic;
        color: $colorViolet1;
      }

    }

    .product-description{
      font-size: 21px;
      margin-bottom: 15px;
    }

    .product-features{
      @include menu-li-grey-style-1;

    }

    .button-download{
      @include btn-download-style1;
    }

    .button-download:hover{
      @include hover-standard-style1;
    }

  }

  &-col-right{
    margin-top: 20px;
    color: white;
    background-color: black;

    // .list-buy{
    //   @include menu-ul-grey-style-1;
    // }

  }
}
// /JUMBOTRON*******************************************************************

// OVERVIEW ********************************************************************
.overview-background{
  @include background-common;
  background-color: $colorBgGrey1;

}

.overview{
  @include content-style;
  display: flex;
  justify-content: center;

  &-menu{
    @include menu-inline-ul-light-style-3;
  }

  &-menu li:hover{
    @include hover-standard-style1;
  }
}
// /JUMBOTRON*******************************************************************

// ROW-1 ********************************************************************
.row-1-background{
  @include background-common;

}

.row-1{
  @include content-style;
  text-align: center;
  img{
    width: 100%;
  }
}
// /ROW-1 *******************************************************************


// ROW-2 ********************************************************************
.row-2-background{
  @include background-common;
  background-image: url("../img/flow-icons-bg.png");
}

.row-2{
  @include content-style;
  display: flex;
  justify-content: center;


  .col-left, .col-center, .col-right{
    width: calc(100% / 3);
    text-align: center;

    img{
      width: 200px;

    }

    .list-art{
      // @include menu-ul-light-style-1;


    }
  }

}
// ROW-2 ********************************************************************
